@media only screen and (min-width: 900px) {
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background: #C6FFDD;  
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

html, body {
  background-repeat: no-repeat;
  background-size: cover;
  background: #C6FFDD;  
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
}
#landing {
  /* background-repeat: no-repeat;
  background-size: cover;
  background: #C6FFDD;  
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); 
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
}
#word {
  font-size: 100px;
  margin-bottom: 0;
  font-family: "Dancing Script", cursive;
  text-align: center;
  animation: bounceInUp 1.5s ease forwards;
}

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 300px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 10, 0);
  }
}


#head {
  font-size: 70px;
  margin-bottom: 0%;
  font-family: "Dancing Script", cursive;
  text-align: center;
  animation: bounceInUp1 2s ease forwards;
}


@keyframes bounceInUp1 {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 300px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, 70px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

#des {
  font-size: 40px;
  margin-bottom: 0%;
  font-family: "Dancing Script", cursive;
  text-align: center;
  animation: bounceInUp1 3s ease forwards;
}


@keyframes bounceInUp1 {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 300px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

#landing button {
  background-color: #410B13;
  border: #f7797d;
  height: 60px;
  border-radius: 5px;
  /* -webkit-box-shadow: 4px 2px 5px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 2px 5px -4px rgba(0,0,0,0.75);
  box-shadow: 4px 2px 5px -4px rgba(0,0,0,0.75); */
  margin-top: 5px;
  

  animation: appear 2s ease-in-out;

}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

button a{
  color: #ED6A5A;
  font-weight: 600;
  font-size: 24px;
  font-family: "Dancing Script", cursive;
  text-decoration: none;

}
button a:hover {
  color: white
}

#img {
  animation: down 3s ease-in forwards;
}

@keyframes down {
  from {
    opacity: 0;
    position: 100px;
  }
  to {
    opacity: 1;
    position: 200px;
  }
}






